section {
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 0 5px gray;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .search-but {
  border-radius: 20px;
  background-color: white;
  flex: 1;
  width: 5px;
  height: 40px;
  border-style: none;

}

section input {
  flex: 7;
  border-style: none;
}

section .voice-but {
  border-radius: 20px;
  background-color: white;
  height: 40px;
  width: 5px;
  flex: 1;
  border-style: none;
}
