header {
  display: flex;
  height: 40px;
  justify-content: flex-end;
}

header * {
  margin: 10px;

  span {
    text-align: center;
    line-height: 40px;
  }
}

header img {
  width: 20px;
  height: 20px;
}

